@import "~design-system/dist/scss/wds-mixins/index.scss";
@import "~design-system/dist/scss/wds-variables/index.scss";
@import "~design-system/dist/scss/wds-components/_avatar.scss";

.wds-avatar {
	@include wds-avatar(48px, $wds-fandom-color-middle-gray, $wds-fandom-color-middle-gray);

	&__image {
		border-radius: 50%;
		height: 100%;
		width: 100%;
	}
}
