@import "../../../node_modules/@fandom/design-system/dist/scss/wds-variables/index";

.wds-radio {
	display: inline-flex;

	&__input {
		display: none;
	}

	&__label {
		align-items: center;
		cursor: pointer;
		display: inline-flex;
	}

	&__label-text {
		line-height: normal;
	}

	&__icon,
	&__lock-icon {
		margin-right: 13px;
	}

	&__input[disabled] + .wds-radio__label {
		color: $wds-fandom-color-middle-gray;
	}
}
