// import variables
@import "~design-system/dist/scss/wds-variables/index.scss";

@keyframes fandom-spinner-rotator {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}
}
@keyframes fandom-spinner-dash {
	to {
		stroke-dashoffset: 0;
	}
}

.fandom-spinner {
	display: inline-flex;

	& > svg {
		animation: fandom-spinner-rotator .5s linear infinite;
		transform: translateZ(0);

		circle {
			animation: fandom-spinner-dash 1.25s linear infinite alternate-reverse;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			stroke: $wds-color-link;
		}
	}
}
