.wds-banner-notification {
  background-color: #fff;
  color: #999;
  display: flex;
  transition: opacity 0.4s;
}
.wds-banner-notification.wds-is-transparent {
  opacity: 0;
}
.wds-banner-notification__container {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}
.wds-banner-notification__icon {
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: center;
  width: 48px;
}
.wds-alert .wds-banner-notification__icon {
  background-color: #d71035;
}
.wds-warning .wds-banner-notification__icon {
  background-color: #dfec24;
}
.wds-success .wds-banner-notification__icon {
  background-color: #4cda9a;
}
.wds-message .wds-banner-notification__icon {
  background-color: #460084;
}
.wds-banner-notification__text {
  color: #666;
  flex: 1;
  font-size: 14px;
  line-height: 1.29;
  padding: 13px 12px;
}
.wds-banner-notification__close {
  cursor: pointer;
  padding: 18px;
}
.wds-banner-notification + .wds-banner-notification .wds-banner-notification__close, .wds-banner-notification + .wds-banner-notification .wds-banner-notification__text {
  border-top: 1px solid #ccc;
}

.wds-banner-notification__close {
  fill: currentColor;
  height: 12px;
  width: 12px;
}

.wds-banner-notification__icon-mark {
  fill: currentColor;
  height: 18px;
  width: 18px;
}