/**
* Implemenation taken from http://www.antimath.info/css/sass-sqrt-function/
*/
/**
* Implementation taken from http://alienryderflex.com/hsp.html
*/
/**
* Implemenation taken from http://www.antimath.info/css/sass-sqrt-function/
*/
/**
* Implementation taken from http://alienryderflex.com/hsp.html
*/
/**
* Implemenation taken from http://www.antimath.info/css/sass-sqrt-function/
*/
/**
* Implementation taken from http://alienryderflex.com/hsp.html
*/
/**
* Implemenation taken from http://www.antimath.info/css/sass-sqrt-function/
*/
/**
* Implementation taken from http://alienryderflex.com/hsp.html
*/
/**
* Implemenation taken from http://www.antimath.info/css/sass-sqrt-function/
*/
/**
* Implementation taken from http://alienryderflex.com/hsp.html
*/
.wds-content-well {
  box-sizing: border-box;
}
@media only screen and (max-width: 767px) {
  .wds-content-well {
    margin: 0 18px;
  }
}
@media only screen and (min-width: 768px) {
  .wds-content-well {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wds-content-well {
    width: 732px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .wds-content-well {
    width: 988px;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1499px) {
  .wds-content-well {
    width: 1244px;
  }
}
@media only screen and (min-width: 1500px) {
  .wds-content-well {
    width: 1464px;
  }
}