.wds-fandom-content-well {
  box-sizing: border-box;
}
@media only screen and (max-width: 767px) {
  .wds-fandom-content-well {
    margin: 0 18px;
  }
}
@media only screen and (min-width: 768px) {
  .wds-fandom-content-well {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wds-fandom-content-well {
    width: 732px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .wds-fandom-content-well {
    width: 988px;
  }
}
@media only screen and (min-width: 1280px) {
  .wds-fandom-content-well {
    width: 1244px;
  }
}