@charset "UTF-8";
.wds-global-footer {
  background-color: #002a32;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  line-height: 1.25;
  margin-top: 30px;
  word-wrap: break-word;
}
.wds-global-footer * {
  box-sizing: inherit;
}
.wds-global-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.wds-global-footer__header-wrapper {
  display: block;
  width: 100%;
}
.wds-global-footer__header {
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 0;
  margin: 0;
  padding: 28px 0 18px;
}
.wds-global-footer__bottom-bar {
  background: rgba(38, 38, 38, 0.5);
  font-size: 12px;
  min-height: 50px;
  padding: 0 20px;
  text-align: center;
  /**
   * Note: The following rule is an exception on DS Class Naming because whole
   * text is user-supplied and we don't insert class names there.
   */
}
.wds-global-footer__bottom-bar a,
.wds-global-footer__bottom-bar a:visited {
  color: #00d6d6;
  text-decoration: none;
}
.wds-global-footer__bottom-bar a:hover {
  color: #fff;
}
.wds-global-footer__bottom-bar-row {
  margin: 0 auto;
}
.wds-global-footer__bottom-bar-row.wds-has-border-top {
  border-top: 1px solid #656e78;
}
.wds-global-footer__bottom-bar-row.wds-has-padding {
  padding: 16px 0;
}
.wds-global-footer__header-logo {
  height: 35px;
  width: 164px;
}
.wds-global-footer__main {
  padding: 0 20px 28px;
  max-width: 500px;
  width: 100%;
}
.wds-global-footer__link, .wds-global-footer__link:active, .wds-global-footer__link:visited, .wds-global-footer__link:focus {
  color: #00d6d6;
  font-weight: 400;
  text-decoration: none;
  transition: color 300ms;
}
.wds-global-footer__link:hover {
  color: #fff;
  text-decoration: none;
}
.wds-global-footer__links-list-item {
  margin-bottom: 20px;
}
.wds-global-footer__section + .wds-global-footer__section {
  margin-top: 40px;
}
.wds-global-footer__section:first-child {
  margin-top: 20px;
}
.wds-global-footer__section.wds-is-fandom-overview .wds-global-footer__links-list, .wds-global-footer__section.wds-is-site-overview .wds-global-footer__links-list, .wds-global-footer__section.wds-is-community .wds-global-footer__links-list {
  column-count: 2;
  column-gap: 26px;
}
.wds-global-footer__section.wds-is-follow-us .wds-global-footer__links-list {
  display: flex;
  flex-wrap: nowrap;
}
.wds-global-footer__section.wds-is-follow-us .wds-global-footer__link {
  background: no-repeat center;
  background-size: 24px;
  display: inline-block;
  height: 24px;
  margin-right: 20px;
  width: 24px;
}
.wds-global-footer__section.wds-is-follow-us .wds-global-footer__link-image {
  color: #fff;
  opacity: 0.3;
  transition: opacity 300ms;
}
.wds-global-footer__section.wds-is-follow-us .wds-global-footer__link-image:hover {
  opacity: 1;
}
.wds-global-footer__section.wds-is-fandom-apps {
  margin-top: 40px;
}
.wds-global-footer__section.wds-is-fandom-stores {
  padding-bottom: 20px;
  margin-top: 14px;
  position: relative;
}
.wds-global-footer__section.wds-is-fandom-stores::after {
  border-bottom: 1px solid #5f7a7b;
  display: block;
  content: "";
  position: absolute;
  left: 0;
  width: 230px;
  bottom: 0;
  height: 1px;
}
.wds-global-footer__section.wds-is-ddb-stores {
  margin-top: 20px;
}
.wds-global-footer__section.wds-is-fandom-stores, .wds-global-footer__section.wds-is-ddb-stores {
  display: flex;
  line-height: 0;
}
.wds-global-footer__section.wds-is-fandom-stores .wds-global-footer__image, .wds-global-footer__section.wds-is-ddb-stores .wds-global-footer__image {
  margin: 0 19px 0 0;
}
.wds-global-footer__section.wds-is-fandom-stores .wds-global-footer__image svg, .wds-global-footer__section.wds-is-ddb-stores .wds-global-footer__image svg {
  width: 80px;
  height: 80px;
}
.wds-global-footer__section.wds-is-fandom-stores .wds-global-footer__image-caption, .wds-global-footer__section.wds-is-ddb-stores .wds-global-footer__image-caption {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 4px;
  text-align: center;
}
.wds-global-footer__section.wds-is-fandom-stores .wds-global-footer__link, .wds-global-footer__section.wds-is-ddb-stores .wds-global-footer__link {
  display: block;
}
.wds-global-footer__section.wds-is-fandom-stores .wds-global-footer__links-list-item, .wds-global-footer__section.wds-is-ddb-stores .wds-global-footer__links-list-item {
  margin-bottom: 10px;
}
.wds-global-footer__section.wds-is-fandom-stores .wds-global-footer__links-list-item:last-child, .wds-global-footer__section.wds-is-ddb-stores .wds-global-footer__links-list-item:last-child {
  margin-bottom: 0;
}
.wds-global-footer__section.wds-is-fandom-stores .wds-global-footer__link-image, .wds-global-footer__section.wds-is-ddb-stores .wds-global-footer__link-image {
  height: 35px;
  width: 119px;
}
.wds-global-footer__section-header {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 12px;
  margin-top: 0;
  padding: 0;
  text-transform: uppercase;
}
.wds-global-footer__section-description {
  color: #fff;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width:1024px) {
  .wds-global-footer__header {
    padding: 40px 0 46px;
  }
  .wds-global-footer__main {
    display: grid;
    grid-column-gap: 55px;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    max-width: 1024px;
    padding-bottom: 28px;
  }
  .wds-global-footer__section.wds-is-fandom-overview .wds-global-footer__links-list, .wds-global-footer__section.wds-is-site-overview .wds-global-footer__links-list, .wds-global-footer__section.wds-is-community .wds-global-footer__links-list {
    column-count: initial;
  }
  .wds-global-footer__section:first-child {
    margin-top: 0;
  }
  .wds-global-footer__links-list-item {
    margin-bottom: 9px;
  }
}
.wds-global-footer-wikia-org {
  background: #fff;
  border-top: 1px solid #c5ced9;
  margin-top: 30px;
  width: 100%;
}
.wds-global-footer-wikia-org__header {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 24px 0 0;
  width: 100%;
}
.wds-global-footer-wikia-org__links {
  align-items: center;
  color: #39424d;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  justify-content: center;
  list-style: none;
  margin-left: 0;
  padding: 19px 13px 24px;
  width: 100%;
}
.wds-global-footer-wikia-org__links a {
  color: #39424d;
}
.wds-global-footer-wikia-org__link {
  align-items: center;
  display: flex;
}
.wds-global-footer-wikia-org__link:not(:last-child)::after {
  color: #39424d;
  content: "·";
  font-size: 14px;
  padding: 0 5px;
}