/**
* Implemenation taken from http://www.antimath.info/css/sass-sqrt-function/
*/
/**
* Implementation taken from http://alienryderflex.com/hsp.html
*/
/**
* Implemenation taken from http://www.antimath.info/css/sass-sqrt-function/
*/
/**
* Implementation taken from http://alienryderflex.com/hsp.html
*/
/**
* Implemenation taken from http://www.antimath.info/css/sass-sqrt-function/
*/
/**
* Implementation taken from http://alienryderflex.com/hsp.html
*/
.wds-global-navigation__search {
  align-items: center;
  color: #00d6d6;
  display: flex;
  height: 100%;
  justify-content: flex-end;
}
.wds-global-navigation__search-container {
  height: 100%;
  flex: 1;
}
@media only screen and (min-width:1024px) {
  .wds-global-navigation__search-container {
    margin-right: 6px;
  }
}
.wds-global-navigation__search-input-wrapper {
  align-items: center;
  display: flex;
  flex: 0 1 auto;
  padding-bottom: 3px;
  transition: flex 200ms;
}
.wds-global-navigation__search-clear {
  padding: 2px;
  transform: rotate(45deg);
}
.wds-global-navigation__search-clear svg {
  fill: #fff;
}
@media only screen and (min-width: 768px) {
  .wds-global-navigation__search-clear {
    display: none;
  }
}
.wds-global-navigation__search-input {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  flex: 1 1 auto;
  font-size: 14px;
  height: 28px;
  width: 0;
}
.wds-global-navigation__search-input::-webkit-search-decoration, .wds-global-navigation__search-input::-webkit-search-cancel-button {
  display: none;
}
.wds-global-navigation__search-input:focus {
  outline: none;
}
.wds-global-navigation__search-input::placeholder {
  color: #fff;
}
.wds-global-navigation__search-input::-ms-clear {
  display: none;
}
.wds-global-navigation__search-input:placeholder-shown + .wds-global-navigation__search-clear {
  opacity: 0.5;
}
.wds-global-navigation__search-submit {
  color: #fff;
  background: none;
  border-radius: 0;
  display: none;
  padding: 4px 10px;
}
.wds-global-navigation__search-submit:not(.wds-is-text):not(.wds-is-secondary) {
  background-color: #00d6d6;
}
.wds-global-navigation__search-submit:not(.wds-is-text):not(.wds-is-secondary):focus:not(:disabled), .wds-global-navigation__search-submit:not(.wds-is-text):not(.wds-is-secondary):hover:not(:disabled), .wds-global-navigation__search-submit:not(.wds-is-text):not(.wds-is-secondary):active, .wds-global-navigation__search-submit:not(.wds-is-text):not(.wds-is-secondary).wds-is-active {
  background-color: #007070;
  border-color: #007070;
}
.wds-global-navigation__search-submit:not(.wds-is-text) {
  border-color: #00d6d6;
}
.wds-global-navigation__search-submit.wds-is-secondary {
  border-color: #fff;
  color: #fff;
}
.wds-global-navigation__search-submit.wds-is-secondary:focus:not(:disabled), .wds-global-navigation__search-submit.wds-is-secondary:hover:not(:disabled), .wds-global-navigation__search-submit.wds-is-secondary:active, .wds-global-navigation__search-submit.wds-is-secondary.wds-is-active {
  border-color: #cccccc;
  color: #cccccc;
}
.wds-global-navigation__search-submit.wds-is-text {
  color: #fff;
}
.wds-global-navigation__search-submit.wds-is-text:focus:not(:disabled), .wds-global-navigation__search-submit.wds-is-text:hover:not(:disabled), .wds-global-navigation__search-submit.wds-is-text:active, .wds-global-navigation__search-submit.wds-is-text.wds-is-active {
  color: #cccccc;
}
.wds-global-navigation__search-submit-icon {
  transform: rotate(180deg);
}
.wds-global-navigation__search-close {
  display: none;
  padding: 5px 9px;
}
.wds-global-navigation__search-close.wds-button.wds-is-text {
  transition: color, 300ms;
  color: #fff;
}
.wds-global-navigation__search-close.wds-button.wds-is-text:hover {
  background-color: transparent;
  color: #d9d9d9;
}
.wds-global-navigation__search-suggestions.wds-dropdown__content {
  background-color: #f2f5f5;
  border: 0;
  border-radius: 0;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.3);
  left: 35px;
  right: 0;
  top: calc(100% + 1px);
  transform: none;
}
.wds-global-navigation__search-suggestions.wds-dropdown__content:not(.wds-is-not-scrollable) .wds-list::after, .wds-global-navigation__search-suggestions.wds-dropdown__content:not(.wds-is-not-scrollable) .wds-list::before {
  background-color: #f2f5f5;
}
.wds-global-navigation__search-suggestions.wds-dropdown__content .wds-list.wds-is-linked > li:hover:not(.wds-is-selected) > a {
  background-color: transparent;
  color: #39424d;
}
.wds-global-navigation__search-container:not(.wds-search-is-focused) .wds-global-navigation__search-suggestions.wds-dropdown__content {
  display: none;
}
@media only screen and (max-width: 1499px) {
  .wds-global-navigation:not(.wds-search-is-active) .wds-global-navigation__search-suggestions.wds-dropdown__content {
    display: none;
  }
}
.wds-global-navigation__search-suggestion-highlight {
  font-weight: bold;
}
.wds-global-navigation__search-toggle {
  align-items: center;
  cursor: pointer;
  display: flex;
  transition: color 300ms;
}
.wds-global-navigation__search-toggle:hover {
  color: #fff;
}
.wds-global-navigation__search-toggle-icon {
  margin-right: 8px;
}
@media only screen and (max-width: 1023px) {
  .wds-global-navigation__search-toggle-icon.wds-icon-small {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .wds-global-navigation__search-toggle-icon:not(.wds-icon-small) {
    display: none;
  }
}
@media only screen and (max-width: 1023px) {
  .wds-global-navigation__search-toggle-text {
    display: none !important;
  }
}

@media only screen and (max-width: 1499px) {
  .wds-search-is-active .wds-global-navigation__link, .wds-search-is-active .wds-global-navigation__link-group {
    font-size: 0;
    margin-left: 0;
  }
  .wds-search-is-active .wds-global-navigation__link-group .wds-dropdown__toggle-chevron {
    display: none;
  }
  .wds-search-is-active .wds-global-navigation__search {
    flex: 1 1 auto;
  }
  .wds-search-is-active .wds-global-navigation__search-dropdown {
    flex: 1 1 auto;
  }
  .wds-search-is-active .wds-global-navigation__search-container {
    margin-left: 34px;
  }
  .wds-search-is-active .wds-global-navigation__search-input-wrapper {
    border-bottom: 2px solid #00d6d6;
    width: 100%;
  }
  .wds-search-is-active .wds-global-navigation__search-submit, .wds-search-is-active .wds-global-navigation__search-close {
    display: inline-flex;
  }
  .wds-search-is-active .wds-global-navigation__search-toggle {
    pointer-events: none;
  }
  .wds-search-is-active .wds-global-navigation__search-toggle-icon {
    margin-right: 17px;
  }
  .wds-search-is-active .wds-global-navigation__search-toggle-text {
    display: none;
  }
}
@media only screen and (min-width: 1500px) {
  .wds-global-navigation__search {
    flex: 1 1 auto;
  }
  .wds-global-navigation__search-dropdown {
    flex: 1 1 auto;
  }
  .wds-global-navigation__search-container {
    margin-left: 34px;
  }
  .wds-global-navigation__search-input-wrapper {
    border-bottom: 2px solid #00d6d6;
    width: 100%;
  }
  .wds-global-navigation__search-submit, .wds-global-navigation__search-close {
    display: inline-flex;
  }
  .wds-global-navigation__search-toggle {
    pointer-events: none;
  }
  .wds-global-navigation__search-toggle-icon {
    margin-right: 17px;
  }
  .wds-global-navigation__search-toggle-text {
    display: none;
  }

  .wds-global-navigation__search-container {
    flex: unset;
    width: 450px;
  }
  .wds-global-navigation__search-container:not(.wds-search-is-focused) .wds-global-navigation__search-close,
.wds-global-navigation__search-container:not(.wds-search-is-focused) .wds-global-navigation__search-submit {
    display: none;
  }
}
.wds-global-navigation {
  background-color: #002a32;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  font-family: Rubik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  left: 0;
  padding: 0 12px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
@media only screen and (max-width: 767px) {
  .wds-global-navigation {
    padding: 0 3px 0 12px;
  }
}
.wds-global-navigation__content-bar-left, .wds-global-navigation__content-bar-right {
  align-items: center;
  display: flex;
  height: 55px;
}
.wds-global-navigation__content-bar-right {
  flex-grow: 1;
  justify-content: flex-end;
}
.wds-global-navigation__content-bar-left {
  position: relative;
  z-index: 1;
}
.wds-global-navigation__dropdown-controls, .wds-global-navigation__modal-controls {
  align-items: center;
  height: 55px;
  justify-content: flex-end;
  width: 100%;
}
.wds-global-navigation__dropdown-controls {
  display: none;
}
@media only screen and (min-width: 768px) {
  .wds-global-navigation__dropdown-controls {
    display: flex;
  }
}
.wds-global-navigation__modal-controls {
  display: none;
}
@media only screen and (max-width: 767px) {
  .wds-global-navigation__modal-controls {
    display: flex;
  }
}
.wds-global-navigation__modal-control-user {
  position: relative;
}
.wds-global-navigation__modal {
  background-color: #f2f5f5;
  height: calc(100% - 55px);
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 55px;
  width: 100%;
}
.wds-global-navigation.wds-is-modal-opened {
  z-index: 900;
}
.wds-global-navigation.wds-is-modal-opened .wds-global-navigation__modal-control {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 10px;
}
.wds-global-navigation.wds-is-modal-opened .wds-global-navigation__modal-control-search, .wds-global-navigation.wds-is-modal-opened .wds-global-navigation__modal-control-user, .wds-global-navigation.wds-is-modal-opened .wds-global-navigation__modal-control-anon {
  display: none;
}
.wds-global-navigation.wds-is-modal-opened .wds-global-navigation__modal-control-close {
  display: block;
}
.wds-global-navigation__modal-control {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 10px;
}
.wds-global-navigation__modal-control svg,
.wds-global-navigation__modal-control .wds-avatar__image {
  transition: border-color 300ms, fill 300ms;
}
.wds-global-navigation__modal-control-search {
  position: relative;
}
.wds-global-navigation__modal-control-search svg, .wds-global-navigation__modal-control-close svg {
  fill: #00d6d6;
}
.wds-global-navigation__modal-control-close {
  display: none;
}
.wds-global-navigation__modal-control-close svg {
  fill: #fff;
}
.wds-global-navigation__modal-control:hover svg {
  fill: #fff;
}
.wds-global-navigation__modal-control:hover .wds-avatar__image {
  border-color: #fff;
  fill: #fff;
}
.wds-global-navigation__links {
  display: none;
  font-size: 18px;
  font-weight: bold;
}
@media only screen and (min-width: 768px) {
  .wds-global-navigation__links {
    display: flex;
    height: 100%;
  }
}
@media only screen and (max-width: 1279px) {
  .wds-global-navigation__links {
    font-size: 16px;
  }
}
.wds-global-navigation__link {
  text-transform: uppercase;
  transition: color 300ms, font-size 200ms, margin-left 200ms;
}
.wds-global-navigation__link, .wds-global-navigation__start-a-wiki {
  align-items: center;
  color: #00d6d6;
  display: flex;
  height: 100%;
  margin-left: 30px;
  text-decoration: none;
}
.wds-global-navigation__link:visited, .wds-global-navigation__start-a-wiki:visited {
  color: #00d6d6 !important;
}
.wds-global-navigation__link:hover, .wds-global-navigation__start-a-wiki:hover {
  color: #fff !important;
}
.wds-global-navigation__link .wds-dropdown__toggle-chevron, .wds-global-navigation__start-a-wiki .wds-dropdown__toggle-chevron {
  margin-left: 6px;
  fill: #ff6a64;
}
.wds-global-navigation__link .wds-global-navigation__link-button, .wds-global-navigation__start-a-wiki .wds-global-navigation__link-button {
  margin: 0;
}
@media only screen and (max-width: 1023px) {
  .wds-global-navigation__link, .wds-global-navigation__start-a-wiki {
    margin-left: 24px;
  }
}
.wds-global-navigation__start-a-wiki {
  display: none;
  margin-left: 16px;
  transition-duration: 300ms;
  transition-property: color;
}
@media only screen and (min-width: 1024px) {
  .wds-global-navigation__start-a-wiki {
    display: flex;
  }
}
.wds-global-navigation__start-a-wiki .wds-button.wds-is-secondary:not(:disabled) {
  border-color: #00d6d6;
  color: #00d6d6;
}
.wds-global-navigation__start-a-wiki .wds-button.wds-is-secondary:not(:disabled):hover {
  border-color: #fff;
  color: #fff;
}
.wds-global-navigation__logo-image {
  display: block;
  height: 27px;
  width: 126px;
}
.wds-global-navigation__logo {
  transition: transform 0.4s;
}
.wds-global-navigation__user-menu-dropdown-caption {
  font-size: 12px;
  padding-bottom: 10px;
  text-align: center;
}
.wds-global-navigation__notifications-dropdown {
  color: #00d6d6;
  height: 100%;
  margin-left: 12px;
  position: relative;
  transition: color 300ms;
  width: 44px;
}
.wds-global-navigation__notifications-dropdown:hover {
  color: #fff;
}
.wds-global-navigation__avatar-notifications-counter, .wds-global-navigation__notifications-counter {
  align-items: center;
  background-color: #fff;
  border-radius: 9px;
  box-sizing: border-box;
  color: #002a32;
  display: flex;
  font-size: 10px;
  height: 18px;
  justify-content: center;
  left: 0;
  min-width: 18px;
  padding: 0 4px;
  position: absolute;
  top: 12px;
}
.wds-global-navigation__avatar-notifications-counter {
  left: 3px;
  top: 6px;
}
.wds-global-navigation__partner-slot {
  align-items: center;
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  flex-basis: 100%;
  height: 100%;
  max-width: 80px;
  position: absolute;
  right: 0;
  top: 0;
}
.wds-global-navigation__partner-slot-link {
  padding: 10px;
}
.wds-global-navigation__partner-slot-image {
  vertical-align: middle;
}
.wds-global-navigation__partner-slot-horizontal-bar {
  display: none;
}
@media only screen and (max-width: 767px) {
  .wds-global-navigation__partner-slot {
    background: #002a32;
    border: none;
    height: 30px;
    justify-content: flex-end;
    max-width: 100vw;
    width: 100vw;
    margin-top: -10px;
    position: relative;
  }
  .wds-global-navigation__partner-slot-link {
    padding: 6px;
  }
  .wds-global-navigation__partner-slot-horizontal-bar {
    border-bottom: 1px solid #5f7a7b;
    display: block;
    height: 2px;
    width: 100%;
  }
}
.wds-is-modal-opened .wds-global-navigation__partner-slot {
  display: none;
}
.wds-global-navigation.wds-has-partner-slot .wds-global-navigation__content-bar-right {
  margin-right: 80px;
}
@media only screen and (max-width: 767px) {
  .wds-global-navigation.wds-has-partner-slot .wds-global-navigation__content-bar-right {
    margin-right: 0;
  }
}
.wds-global-navigation .wds-avatar {
  height: 30px;
  min-width: 30px;
  width: 30px;
}
.wds-global-navigation .wds-avatar a {
  color: #00d6d6;
}
.wds-global-navigation .wds-avatar a:hover {
  color: #fff;
}
.wds-global-navigation .wds-avatar .wds-avatar__image {
  background-color: #002a32;
  fill: #00d6d6;
}
.wds-global-navigation .wds-avatar .wds-avatar__image:hover {
  fill: #fff;
}
.wds-global-navigation .wds-avatar img.wds-avatar__image {
  border: solid 2px #00d6d6;
}
.wds-global-navigation .wds-avatar img.wds-avatar__image:hover {
  border-color: #fff;
}
.wds-global-navigation .wds-avatar .wds-avatar__badge {
  height: 15.617px;
  min-width: 15.617px;
  width: 15.617px;
  left: -4.462px;
  top: -6.2468px;
}
.wds-global-navigation__user-menu {
  margin-left: 12px;
}
.wds-global-navigation__user-menu .wds-avatar__image {
  transition: border-color 300ms, fill 300ms;
}
.wds-global-navigation__user-menu:hover .wds-avatar__image {
  border-color: #fff;
  fill: #fff;
}
.wds-global-navigation__link-group .wds-dropdown__content, .wds-global-navigation__user-menu .wds-dropdown__content {
  min-width: 190px;
}
.wds-global-navigation__link-group, .wds-global-navigation__user-menu, .wds-global-navigation__notifications-dropdown {
  height: 100%;
}
.wds-global-navigation__link-group .wds-dropdown__toggle, .wds-global-navigation__user-menu .wds-dropdown__toggle, .wds-global-navigation__notifications-dropdown .wds-dropdown__toggle {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  justify-content: center;
}
.wds-global-navigation__link-group .wds-dropdown__toggle-chevron, .wds-global-navigation__user-menu .wds-dropdown__toggle-chevron, .wds-global-navigation__notifications-dropdown .wds-dropdown__toggle-chevron {
  fill: #ff6a64;
}
.wds-global-navigation__link-group .wds-dropdown__content, .wds-global-navigation__user-menu .wds-dropdown__content, .wds-global-navigation__notifications-dropdown .wds-dropdown__content {
  border-top: 1px solid #ccc;
  color: #39424d;
}
.wds-global-navigation__link-group .wds-dropdown__content .wds-button, .wds-global-navigation__user-menu .wds-dropdown__content .wds-button, .wds-global-navigation__notifications-dropdown .wds-dropdown__content .wds-button {
  color: #fff;
  background: none;
  padding: 7px 18px 7px;
}
.wds-global-navigation__link-group .wds-dropdown__content .wds-button:not(.wds-is-text):not(.wds-is-secondary), .wds-global-navigation__user-menu .wds-dropdown__content .wds-button:not(.wds-is-text):not(.wds-is-secondary), .wds-global-navigation__notifications-dropdown .wds-dropdown__content .wds-button:not(.wds-is-text):not(.wds-is-secondary) {
  background-color: #00d6d6;
}
.wds-global-navigation__link-group .wds-dropdown__content .wds-button:not(.wds-is-text):not(.wds-is-secondary):focus:not(:disabled), .wds-global-navigation__link-group .wds-dropdown__content .wds-button:not(.wds-is-text):not(.wds-is-secondary):hover:not(:disabled), .wds-global-navigation__link-group .wds-dropdown__content .wds-button:not(.wds-is-text):not(.wds-is-secondary):active, .wds-global-navigation__link-group .wds-dropdown__content .wds-button:not(.wds-is-text):not(.wds-is-secondary).wds-is-active, .wds-global-navigation__user-menu .wds-dropdown__content .wds-button:not(.wds-is-text):not(.wds-is-secondary):focus:not(:disabled), .wds-global-navigation__user-menu .wds-dropdown__content .wds-button:not(.wds-is-text):not(.wds-is-secondary):hover:not(:disabled), .wds-global-navigation__user-menu .wds-dropdown__content .wds-button:not(.wds-is-text):not(.wds-is-secondary):active, .wds-global-navigation__user-menu .wds-dropdown__content .wds-button:not(.wds-is-text):not(.wds-is-secondary).wds-is-active, .wds-global-navigation__notifications-dropdown .wds-dropdown__content .wds-button:not(.wds-is-text):not(.wds-is-secondary):focus:not(:disabled), .wds-global-navigation__notifications-dropdown .wds-dropdown__content .wds-button:not(.wds-is-text):not(.wds-is-secondary):hover:not(:disabled), .wds-global-navigation__notifications-dropdown .wds-dropdown__content .wds-button:not(.wds-is-text):not(.wds-is-secondary):active, .wds-global-navigation__notifications-dropdown .wds-dropdown__content .wds-button:not(.wds-is-text):not(.wds-is-secondary).wds-is-active {
  background-color: #007070;
  border-color: #007070;
}
.wds-global-navigation__link-group .wds-dropdown__content .wds-button:not(.wds-is-text), .wds-global-navigation__user-menu .wds-dropdown__content .wds-button:not(.wds-is-text), .wds-global-navigation__notifications-dropdown .wds-dropdown__content .wds-button:not(.wds-is-text) {
  border-color: #00d6d6;
}
.wds-global-navigation__link-group .wds-dropdown__content .wds-button.wds-is-secondary, .wds-global-navigation__user-menu .wds-dropdown__content .wds-button.wds-is-secondary, .wds-global-navigation__notifications-dropdown .wds-dropdown__content .wds-button.wds-is-secondary {
  border-color: #00d6d6;
  color: #00d6d6;
}
.wds-global-navigation__link-group .wds-dropdown__content .wds-button.wds-is-secondary:focus:not(:disabled), .wds-global-navigation__link-group .wds-dropdown__content .wds-button.wds-is-secondary:hover:not(:disabled), .wds-global-navigation__link-group .wds-dropdown__content .wds-button.wds-is-secondary:active, .wds-global-navigation__link-group .wds-dropdown__content .wds-button.wds-is-secondary.wds-is-active, .wds-global-navigation__user-menu .wds-dropdown__content .wds-button.wds-is-secondary:focus:not(:disabled), .wds-global-navigation__user-menu .wds-dropdown__content .wds-button.wds-is-secondary:hover:not(:disabled), .wds-global-navigation__user-menu .wds-dropdown__content .wds-button.wds-is-secondary:active, .wds-global-navigation__user-menu .wds-dropdown__content .wds-button.wds-is-secondary.wds-is-active, .wds-global-navigation__notifications-dropdown .wds-dropdown__content .wds-button.wds-is-secondary:focus:not(:disabled), .wds-global-navigation__notifications-dropdown .wds-dropdown__content .wds-button.wds-is-secondary:hover:not(:disabled), .wds-global-navigation__notifications-dropdown .wds-dropdown__content .wds-button.wds-is-secondary:active, .wds-global-navigation__notifications-dropdown .wds-dropdown__content .wds-button.wds-is-secondary.wds-is-active {
  border-color: #007070;
  color: #007070;
}
.wds-global-navigation__link-group .wds-dropdown__content .wds-button.wds-is-text, .wds-global-navigation__user-menu .wds-dropdown__content .wds-button.wds-is-text, .wds-global-navigation__notifications-dropdown .wds-dropdown__content .wds-button.wds-is-text {
  color: #00d6d6;
}
.wds-global-navigation__link-group .wds-dropdown__content .wds-button.wds-is-text:focus:not(:disabled), .wds-global-navigation__link-group .wds-dropdown__content .wds-button.wds-is-text:hover:not(:disabled), .wds-global-navigation__link-group .wds-dropdown__content .wds-button.wds-is-text:active, .wds-global-navigation__link-group .wds-dropdown__content .wds-button.wds-is-text.wds-is-active, .wds-global-navigation__user-menu .wds-dropdown__content .wds-button.wds-is-text:focus:not(:disabled), .wds-global-navigation__user-menu .wds-dropdown__content .wds-button.wds-is-text:hover:not(:disabled), .wds-global-navigation__user-menu .wds-dropdown__content .wds-button.wds-is-text:active, .wds-global-navigation__user-menu .wds-dropdown__content .wds-button.wds-is-text.wds-is-active, .wds-global-navigation__notifications-dropdown .wds-dropdown__content .wds-button.wds-is-text:focus:not(:disabled), .wds-global-navigation__notifications-dropdown .wds-dropdown__content .wds-button.wds-is-text:hover:not(:disabled), .wds-global-navigation__notifications-dropdown .wds-dropdown__content .wds-button.wds-is-text:active, .wds-global-navigation__notifications-dropdown .wds-dropdown__content .wds-button.wds-is-text.wds-is-active {
  color: #007070;
}
.wds-global-navigation__notifications-dropdown .wds-dropdown__toggle {
  justify-content: flex-end;
}
.wds-global-navigation__user-menu .wds-dropdown__toggle-chevron, .wds-global-navigation__notifications-dropdown .wds-dropdown__toggle-chevron {
  margin-left: 6px;
}
.wds-global-navigation__link-button {
  margin: 6px;
  text-align: center;
}
.wds-global-navigation__community-bar {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 55px;
}
@media only screen and (min-width: 768px) {
  .wds-global-navigation__community-bar {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .wds-global-navigation__content-bar-left, .wds-global-navigation__community-bar {
    overflow: hidden;
  }
}
.wds-global-navigation__logo-heart-link {
  align-self: flex-start;
  height: 55px;
}
.wds-global-navigation__logo-heart {
  background-color: #002a33;
  box-sizing: content-box;
  height: 100%;
  width: 27px;
  padding: 0 5px 0 12px;
  position: relative;
  z-index: 1;
}
.wds-global-navigation__community-bar-separator {
  border-left: 1px solid #5f7a7b;
  opacity: 0;
  height: 30px;
  margin-left: 12px;
  width: 1px;
}
.wds-global-navigation .wds-community-bar__sitename {
  max-width: calc(100vw - 120px);
  margin-left: 12px;
  transform: translateY(-55px);
  transition: transform 0.4s;
}
.wds-global-navigation .wds-community-bar__sitename a {
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .wds-global-navigation.wds-is-community-bar-in:not(.wds-is-modal-opened) .wds-global-navigation__logo {
    transform: translateY(55px);
  }
  .wds-global-navigation.wds-is-community-bar-in:not(.wds-is-modal-opened) .wds-global-navigation__modal-control {
    transform: translate(52px);
  }
  .wds-global-navigation.wds-is-community-bar-in:not(.wds-is-modal-opened) .wds-global-navigation__community-bar-separator {
    animation-name: separator;
    animation-duration: 0.4s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
  }
  .wds-global-navigation.wds-is-community-bar-in:not(.wds-is-modal-opened) .wds-global-navigation__modal-control-user {
    visibility: hidden;
  }
  .wds-global-navigation.wds-is-community-bar-in:not(.wds-is-modal-opened) .wds-community-bar__sitename {
    transform: translateY(0);
  }
}

@keyframes separator {
  to {
    opacity: 1;
  }
}
.wds-sign-out__button {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: left;
  text-transform: none;
  width: auto;
}
.wds-is-linked .wds-sign-out__button {
  box-sizing: border-box;
  display: block;
  padding: 11px 9px;
  width: 100%;
}
.wds-sign-out__button:hover {
  background-color: rgba(0, 172, 172, 0.1);
  color: #00acac;
}
.wds-sign-out__button:focus:not(:disabled), .wds-sign-out__button:active, .wds-sign-out__button.wds-is-active {
  background-color: transparent;
  color: inherit;
}/**
* Implemenation taken from http://www.antimath.info/css/sass-sqrt-function/
*/
/**
* Implementation taken from http://alienryderflex.com/hsp.html
*/
/**
* Implemenation taken from http://www.antimath.info/css/sass-sqrt-function/
*/
/**
* Implementation taken from http://alienryderflex.com/hsp.html
*/
.wds-list {
  list-style-type: none;
  margin: 0;
  padding: 7px 18px;
}
.wds-list > li {
  font-size: 14px;
  font-weight: normal;
  line-height: 1em;
  padding: 11px 0;
}
.wds-list.wds-has-big-items {
  padding-bottom: 2px;
  padding-top: 2px;
}
.wds-list.wds-has-big-items > li {
  font-size: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
}
.wds-list.wds-has-bolded-items > li {
  font-weight: bold;
}
.wds-list.wds-has-lines-between > li {
  border-bottom: solid 1px #dee7e5;
}
.wds-list.wds-has-lines-between > li:last-child {
  border: 0;
}
.wds-list.wds-has-ellipsis > li, .wds-list.wds-has-ellipsis.wds-is-linked > li > a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wds-list.wds-is-linked > li {
  padding: 0;
}
.wds-list.wds-is-linked > li > a {
  display: block;
  padding: 11px 0;
}/**
* Implemenation taken from http://www.antimath.info/css/sass-sqrt-function/
*/
/**
* Implementation taken from http://alienryderflex.com/hsp.html
*/
/**
* Implemenation taken from http://www.antimath.info/css/sass-sqrt-function/
*/
/**
* Implementation taken from http://alienryderflex.com/hsp.html
*/
/**
* Implemenation taken from http://www.antimath.info/css/sass-sqrt-function/
*/
/**
* Implementation taken from http://alienryderflex.com/hsp.html
*/
.wds-dropdown {
  display: inline-block;
  position: relative;
}
.wds-dropdown__toggle {
  cursor: default;
  position: relative;
}
.wds-is-clickable .wds-dropdown__toggle {
  cursor: pointer;
}
.wds-dropdown__content {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: none;
  left: 50%;
  min-width: 70%;
  padding: 7px 0;
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  z-index: 1;
}
.wds-dropdown__content.wds-is-right-aligned {
  left: auto;
  right: 0;
  transform: none;
}
.wds-dropdown__content.wds-is-left-aligned {
  left: 0;
  transform: none;
}
.wds-dropdown__content:not(.wds-is-not-scrollable) .wds-list {
  background-image: radial-gradient(farthest-side at 50% 0, rgba(26, 26, 26, 0.12), transparent), radial-gradient(farthest-side at 50% 100%, rgba(26, 26, 26, 0.12), transparent);
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 9px;
  max-height: 270px;
  overflow-y: auto;
  position: relative;
  z-index: 1;
}
.wds-dropdown__content:not(.wds-is-not-scrollable) .wds-list::after, .wds-dropdown__content:not(.wds-is-not-scrollable) .wds-list::before {
  background-color: #fff;
  content: "";
  display: block;
  height: 30px;
  margin: 0 0 -30px;
  position: relative;
  z-index: -1;
}
.wds-dropdown__content:not(.wds-is-not-scrollable) .wds-list::after {
  background-color: #fff;
  margin: -29px 0 0;
}
.wds-dropdown__content.wds-is-not-scrollable .wds-list {
  position: relative;
}
.wds-dropdown__content .wds-list {
  padding: 0;
}
.wds-dropdown__content .wds-list > li {
  margin: 0 9px;
  padding-left: 9px;
  padding-right: 9px;
  white-space: nowrap;
}
.wds-dropdown__content .wds-list.wds-is-linked > li {
  padding: 0;
}
.wds-dropdown__content .wds-list.wds-is-linked > li > a {
  color: #39424d;
  padding-left: 9px;
  padding-right: 9px;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-property: background-color, color;
}
.wds-dropdown__content .wds-list.wds-is-linked > li:hover > a:not(.wds-button), .wds-dropdown__content .wds-list.wds-is-linked > li.wds-is-selected > a:not(.wds-button) {
  background-color: rgba(0, 172, 172, 0.1);
  color: #00acac;
}
.wds-dropdown::before, .wds-dropdown::after {
  bottom: -1px;
  content: "";
  display: none;
  height: 0;
  left: 50%;
  pointer-events: none;
  position: absolute;
  width: 0;
  z-index: 2;
}
.wds-dropdown::after {
  border: 8px solid transparent;
  border-bottom-color: #fff;
  margin-left: -8px;
}
.wds-dropdown::before {
  border: 9px solid transparent;
  border-bottom-color: #ccc;
  margin-left: -9px;
}
.wds-dropdown.wds-is-active:not(.wds-no-chevron)::before, .wds-dropdown.wds-is-active:not(.wds-no-chevron)::after, .wds-dropdown:not(.wds-is-touch-device):not(.wds-is-not-hoverable):hover:not(.wds-no-chevron)::before, .wds-dropdown:not(.wds-is-touch-device):not(.wds-is-not-hoverable):hover:not(.wds-no-chevron)::after {
  display: block;
}
.wds-dropdown.wds-is-active .wds-dropdown__content, .wds-dropdown:not(.wds-is-touch-device):not(.wds-is-not-hoverable):hover .wds-dropdown__content {
  display: inline-block;
}
.wds-dropdown.wds-is-active .wds-dropdown__toggle-chevron, .wds-dropdown:not(.wds-is-touch-device):not(.wds-is-not-hoverable):hover .wds-dropdown__toggle-chevron {
  transform: rotate(180deg);
}
.wds-dropdown.wds-is-active.wds-has-shadow::before, .wds-dropdown.wds-is-active.wds-has-dark-shadow::before, .wds-dropdown:not(.wds-is-touch-device):not(.wds-is-not-hoverable):hover.wds-has-shadow::before, .wds-dropdown:not(.wds-is-touch-device):not(.wds-is-not-hoverable):hover.wds-has-dark-shadow::before {
  display: none;
}
.wds-dropdown.wds-has-shadow .wds-dropdown__content {
  box-shadow: 0 0 10px 0 rgba(26, 26, 26, 0.2);
}
.wds-dropdown.wds-has-dark-shadow .wds-dropdown__content {
  box-shadow: 0 0 20px 0 rgba(26, 26, 26, 0.3);
}
.wds-dropdown.wds-has-shadow .wds-dropdown__content, .wds-dropdown.wds-has-dark-shadow .wds-dropdown__content {
  border: 0;
}
.wds-dropdown.wds-is-flipped::before, .wds-dropdown.wds-is-flipped::after {
  bottom: unset;
  top: -1px;
}
.wds-dropdown.wds-is-flipped::before {
  border-bottom-color: transparent;
  border-top-color: #ccc;
}
.wds-dropdown.wds-is-flipped::after {
  border-bottom-color: transparent;
  border-top-color: #fff;
}
.wds-dropdown.wds-is-flipped .wds-dropdown__content {
  bottom: 100%;
  top: unset;
}

.wds-dropdown__content .wds-list.wds-is-linked .wds-dropdown-level-2 {
  margin-right: 0;
}
.wds-dropdown__content .wds-list.wds-is-linked .wds-dropdown-level-2 > a {
  padding-right: 18px;
  display: flex;
  justify-content: space-between;
}
.wds-dropdown__content .wds-list.wds-is-linked .wds-dropdown-level-2 .wds-dropdown-chevron {
  transform: rotate(-90deg);
  margin-left: 18px;
}
.wds-dropdown__content .wds-list.wds-is-linked .wds-dropdown-level-2.wds-is-sticked-to-parent {
  position: relative;
}
.wds-dropdown__content .wds-list.wds-is-linked .wds-dropdown-level-2.wds-is-sticked-to-parent .wds-dropdown-level-2__content {
  top: auto;
  bottom: -8px;
}
.wds-dropdown__content .wds-list.wds-is-linked .wds-dropdown-level-2 .wds-dropdown-level-2__content {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: none;
  left: 100%;
  padding: 7px 0;
  position: absolute;
  top: -8px;
}
.wds-dropdown__content .wds-list.wds-is-linked .wds-dropdown-level-2 .wds-dropdown-level-2__content .wds-list.wds-is-linked > li > a {
  font-size: 12px;
}
.wds-dropdown__content .wds-list.wds-is-linked .wds-dropdown-level-2.wds-is-active .wds-dropdown-level-2__content, .wds-dropdown__content .wds-list.wds-is-linked .wds-dropdown-level-2:not(.wds-is-touch-device):hover .wds-dropdown-level-2__content {
  display: block;
}/**
* Implemenation taken from http://www.antimath.info/css/sass-sqrt-function/
*/
/**
* Implementation taken from http://alienryderflex.com/hsp.html
*/
/**
* Implemenation taken from http://www.antimath.info/css/sass-sqrt-function/
*/
/**
* Implementation taken from http://alienryderflex.com/hsp.html
*/
/**
* Implemenation taken from http://www.antimath.info/css/sass-sqrt-function/
*/
/**
* Implementation taken from http://alienryderflex.com/hsp.html
*/
.wds-button {
  color: #fff;
  background: none;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-sizing: content-box;
  cursor: default;
  display: inline-flex;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0.15px;
  line-height: 16px;
  margin: 0;
  min-height: 18px;
  outline: none;
  padding: 7px 18px;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 300ms;
  transition-property: background-color, border-color, color;
  vertical-align: top;
  -webkit-appearance: none;
}
.wds-button:not(.wds-is-text):not(.wds-is-secondary) {
  background-color: #00b7e0;
}
.wds-button:not(.wds-is-text):not(.wds-is-secondary):focus:not(:disabled), .wds-button:not(.wds-is-text):not(.wds-is-secondary):hover:not(:disabled), .wds-button:not(.wds-is-text):not(.wds-is-secondary):active, .wds-button:not(.wds-is-text):not(.wds-is-secondary).wds-is-active {
  background-color: #00647a;
  border-color: #00647a;
}
.wds-button:not(.wds-is-text) {
  border-color: #00b7e0;
}
.wds-button.wds-is-secondary {
  border-color: #00b7e0;
  color: #00b7e0;
}
.wds-button.wds-is-secondary:focus:not(:disabled), .wds-button.wds-is-secondary:hover:not(:disabled), .wds-button.wds-is-secondary:active, .wds-button.wds-is-secondary.wds-is-active {
  border-color: #00647a;
  color: #00647a;
}
.wds-button.wds-is-text {
  color: #00b7e0;
}
.wds-button.wds-is-text:focus:not(:disabled), .wds-button.wds-is-text:hover:not(:disabled), .wds-button.wds-is-text:active, .wds-button.wds-is-text.wds-is-active {
  color: #00647a;
}
button.wds-button, a.wds-button {
  cursor: pointer;
}

.wds-button:disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
.wds-button:focus:not(:disabled), .wds-button:hover:not(:disabled), .wds-button:active, .wds-button.wds-is-active {
  text-decoration: none;
}
.wds-button.wds-is-full-width {
  display: flex;
}
.wds-button.wds-is-square {
  height: 36px;
  min-width: 36px;
  width: 36px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  padding: 0;
}
.wds-button.wds-is-text {
  border: 0;
}
.wds-button .wds-icon {
  align-self: center;
  pointer-events: none;
}
.wds-button .wds-icon:not(:only-child):first-child {
  margin-right: 6px;
}
.wds-button .wds-icon:not(:only-child):last-child {
  margin-left: 6px;
}
.wds-button .wds-list {
  color: #1a1a1a;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
}
.wds-button .wds-dropdown__content {
  top: calc(100% + 1px);
}

.wds-button.wds-is-facebook-color {
  color: #fff;
  background: none;
}
.wds-button.wds-is-facebook-color:not(.wds-is-text):not(.wds-is-secondary) {
  background-color: #3b5998;
}
.wds-button.wds-is-facebook-color:not(.wds-is-text):not(.wds-is-secondary):focus:not(:disabled), .wds-button.wds-is-facebook-color:not(.wds-is-text):not(.wds-is-secondary):hover:not(:disabled), .wds-button.wds-is-facebook-color:not(.wds-is-text):not(.wds-is-secondary):active, .wds-button.wds-is-facebook-color:not(.wds-is-text):not(.wds-is-secondary).wds-is-active {
  background-color: #718dc8;
  border-color: #718dc8;
}
.wds-button.wds-is-facebook-color:not(.wds-is-text) {
  border-color: #3b5998;
}
.wds-button.wds-is-facebook-color.wds-is-secondary {
  border-color: #3b5998;
  color: #3b5998;
}
.wds-button.wds-is-facebook-color.wds-is-secondary:focus:not(:disabled), .wds-button.wds-is-facebook-color.wds-is-secondary:hover:not(:disabled), .wds-button.wds-is-facebook-color.wds-is-secondary:active, .wds-button.wds-is-facebook-color.wds-is-secondary.wds-is-active {
  border-color: #718dc8;
  color: #718dc8;
}
.wds-button.wds-is-facebook-color.wds-is-text {
  color: #3b5998;
}
.wds-button.wds-is-facebook-color.wds-is-text:focus:not(:disabled), .wds-button.wds-is-facebook-color.wds-is-text:hover:not(:disabled), .wds-button.wds-is-facebook-color.wds-is-text:active, .wds-button.wds-is-facebook-color.wds-is-text.wds-is-active {
  color: #718dc8;
}
.wds-button.wds-is-googleplus-color {
  color: #fff;
  background: none;
}
.wds-button.wds-is-googleplus-color:not(.wds-is-text):not(.wds-is-secondary) {
  background-color: #dd4b39;
}
.wds-button.wds-is-googleplus-color:not(.wds-is-text):not(.wds-is-secondary):focus:not(:disabled), .wds-button.wds-is-googleplus-color:not(.wds-is-text):not(.wds-is-secondary):hover:not(:disabled), .wds-button.wds-is-googleplus-color:not(.wds-is-text):not(.wds-is-secondary):active, .wds-button.wds-is-googleplus-color:not(.wds-is-text):not(.wds-is-secondary).wds-is-active {
  background-color: #96271a;
  border-color: #96271a;
}
.wds-button.wds-is-googleplus-color:not(.wds-is-text) {
  border-color: #dd4b39;
}
.wds-button.wds-is-googleplus-color.wds-is-secondary {
  border-color: #dd4b39;
  color: #dd4b39;
}
.wds-button.wds-is-googleplus-color.wds-is-secondary:focus:not(:disabled), .wds-button.wds-is-googleplus-color.wds-is-secondary:hover:not(:disabled), .wds-button.wds-is-googleplus-color.wds-is-secondary:active, .wds-button.wds-is-googleplus-color.wds-is-secondary.wds-is-active {
  border-color: #96271a;
  color: #96271a;
}
.wds-button.wds-is-googleplus-color.wds-is-text {
  color: #dd4b39;
}
.wds-button.wds-is-googleplus-color.wds-is-text:focus:not(:disabled), .wds-button.wds-is-googleplus-color.wds-is-text:hover:not(:disabled), .wds-button.wds-is-googleplus-color.wds-is-text:active, .wds-button.wds-is-googleplus-color.wds-is-text.wds-is-active {
  color: #96271a;
}
.wds-button.wds-is-line-color {
  color: #fff;
  background: none;
}
.wds-button.wds-is-line-color:not(.wds-is-text):not(.wds-is-secondary) {
  background-color: #00c300;
}
.wds-button.wds-is-line-color:not(.wds-is-text):not(.wds-is-secondary):focus:not(:disabled), .wds-button.wds-is-line-color:not(.wds-is-text):not(.wds-is-secondary):hover:not(:disabled), .wds-button.wds-is-line-color:not(.wds-is-text):not(.wds-is-secondary):active, .wds-button.wds-is-line-color:not(.wds-is-text):not(.wds-is-secondary).wds-is-active {
  background-color: #005d00;
  border-color: #005d00;
}
.wds-button.wds-is-line-color:not(.wds-is-text) {
  border-color: #00c300;
}
.wds-button.wds-is-line-color.wds-is-secondary {
  border-color: #00c300;
  color: #00c300;
}
.wds-button.wds-is-line-color.wds-is-secondary:focus:not(:disabled), .wds-button.wds-is-line-color.wds-is-secondary:hover:not(:disabled), .wds-button.wds-is-line-color.wds-is-secondary:active, .wds-button.wds-is-line-color.wds-is-secondary.wds-is-active {
  border-color: #005d00;
  color: #005d00;
}
.wds-button.wds-is-line-color.wds-is-text {
  color: #00c300;
}
.wds-button.wds-is-line-color.wds-is-text:focus:not(:disabled), .wds-button.wds-is-line-color.wds-is-text:hover:not(:disabled), .wds-button.wds-is-line-color.wds-is-text:active, .wds-button.wds-is-line-color.wds-is-text.wds-is-active {
  color: #005d00;
}
.wds-button.wds-is-linkedin-color {
  color: #fff;
  background: none;
}
.wds-button.wds-is-linkedin-color:not(.wds-is-text):not(.wds-is-secondary) {
  background-color: #0077b5;
}
.wds-button.wds-is-linkedin-color:not(.wds-is-text):not(.wds-is-secondary):focus:not(:disabled), .wds-button.wds-is-linkedin-color:not(.wds-is-text):not(.wds-is-secondary):hover:not(:disabled), .wds-button.wds-is-linkedin-color:not(.wds-is-text):not(.wds-is-secondary):active, .wds-button.wds-is-linkedin-color:not(.wds-is-text):not(.wds-is-secondary).wds-is-active {
  background-color: #1cb1ff;
  border-color: #1cb1ff;
}
.wds-button.wds-is-linkedin-color:not(.wds-is-text) {
  border-color: #0077b5;
}
.wds-button.wds-is-linkedin-color.wds-is-secondary {
  border-color: #0077b5;
  color: #0077b5;
}
.wds-button.wds-is-linkedin-color.wds-is-secondary:focus:not(:disabled), .wds-button.wds-is-linkedin-color.wds-is-secondary:hover:not(:disabled), .wds-button.wds-is-linkedin-color.wds-is-secondary:active, .wds-button.wds-is-linkedin-color.wds-is-secondary.wds-is-active {
  border-color: #1cb1ff;
  color: #1cb1ff;
}
.wds-button.wds-is-linkedin-color.wds-is-text {
  color: #0077b5;
}
.wds-button.wds-is-linkedin-color.wds-is-text:focus:not(:disabled), .wds-button.wds-is-linkedin-color.wds-is-text:hover:not(:disabled), .wds-button.wds-is-linkedin-color.wds-is-text:active, .wds-button.wds-is-linkedin-color.wds-is-text.wds-is-active {
  color: #1cb1ff;
}
.wds-button.wds-is-instagram-color {
  color: #fff;
  background: none;
}
.wds-button.wds-is-instagram-color:not(.wds-is-text):not(.wds-is-secondary) {
  background-color: #e02d69;
}
.wds-button.wds-is-instagram-color:not(.wds-is-text):not(.wds-is-secondary):focus:not(:disabled), .wds-button.wds-is-instagram-color:not(.wds-is-text):not(.wds-is-secondary):hover:not(:disabled), .wds-button.wds-is-instagram-color:not(.wds-is-text):not(.wds-is-secondary):active, .wds-button.wds-is-instagram-color:not(.wds-is-text):not(.wds-is-secondary).wds-is-active {
  background-color: #92153f;
  border-color: #92153f;
}
.wds-button.wds-is-instagram-color:not(.wds-is-text) {
  border-color: #e02d69;
}
.wds-button.wds-is-instagram-color.wds-is-secondary {
  border-color: #e02d69;
  color: #e02d69;
}
.wds-button.wds-is-instagram-color.wds-is-secondary:focus:not(:disabled), .wds-button.wds-is-instagram-color.wds-is-secondary:hover:not(:disabled), .wds-button.wds-is-instagram-color.wds-is-secondary:active, .wds-button.wds-is-instagram-color.wds-is-secondary.wds-is-active {
  border-color: #92153f;
  color: #92153f;
}
.wds-button.wds-is-instagram-color.wds-is-text {
  color: #e02d69;
}
.wds-button.wds-is-instagram-color.wds-is-text:focus:not(:disabled), .wds-button.wds-is-instagram-color.wds-is-text:hover:not(:disabled), .wds-button.wds-is-instagram-color.wds-is-text:active, .wds-button.wds-is-instagram-color.wds-is-text.wds-is-active {
  color: #92153f;
}
.wds-button.wds-is-meneame-color {
  color: #fff;
  background: none;
}
.wds-button.wds-is-meneame-color:not(.wds-is-text):not(.wds-is-secondary) {
  background-color: #ff6400;
}
.wds-button.wds-is-meneame-color:not(.wds-is-text):not(.wds-is-secondary):focus:not(:disabled), .wds-button.wds-is-meneame-color:not(.wds-is-text):not(.wds-is-secondary):hover:not(:disabled), .wds-button.wds-is-meneame-color:not(.wds-is-text):not(.wds-is-secondary):active, .wds-button.wds-is-meneame-color:not(.wds-is-text):not(.wds-is-secondary).wds-is-active {
  background-color: #993c00;
  border-color: #993c00;
}
.wds-button.wds-is-meneame-color:not(.wds-is-text) {
  border-color: #ff6400;
}
.wds-button.wds-is-meneame-color.wds-is-secondary {
  border-color: #ff6400;
  color: #ff6400;
}
.wds-button.wds-is-meneame-color.wds-is-secondary:focus:not(:disabled), .wds-button.wds-is-meneame-color.wds-is-secondary:hover:not(:disabled), .wds-button.wds-is-meneame-color.wds-is-secondary:active, .wds-button.wds-is-meneame-color.wds-is-secondary.wds-is-active {
  border-color: #993c00;
  color: #993c00;
}
.wds-button.wds-is-meneame-color.wds-is-text {
  color: #ff6400;
}
.wds-button.wds-is-meneame-color.wds-is-text:focus:not(:disabled), .wds-button.wds-is-meneame-color.wds-is-text:hover:not(:disabled), .wds-button.wds-is-meneame-color.wds-is-text:active, .wds-button.wds-is-meneame-color.wds-is-text.wds-is-active {
  color: #993c00;
}
.wds-button.wds-is-nk-color {
  color: #fff;
  background: none;
}
.wds-button.wds-is-nk-color:not(.wds-is-text):not(.wds-is-secondary) {
  background-color: #4077a7;
}
.wds-button.wds-is-nk-color:not(.wds-is-text):not(.wds-is-secondary):focus:not(:disabled), .wds-button.wds-is-nk-color:not(.wds-is-text):not(.wds-is-secondary):hover:not(:disabled), .wds-button.wds-is-nk-color:not(.wds-is-text):not(.wds-is-secondary):active, .wds-button.wds-is-nk-color:not(.wds-is-text):not(.wds-is-secondary).wds-is-active {
  background-color: #7fa9ce;
  border-color: #7fa9ce;
}
.wds-button.wds-is-nk-color:not(.wds-is-text) {
  border-color: #4077a7;
}
.wds-button.wds-is-nk-color.wds-is-secondary {
  border-color: #4077a7;
  color: #4077a7;
}
.wds-button.wds-is-nk-color.wds-is-secondary:focus:not(:disabled), .wds-button.wds-is-nk-color.wds-is-secondary:hover:not(:disabled), .wds-button.wds-is-nk-color.wds-is-secondary:active, .wds-button.wds-is-nk-color.wds-is-secondary.wds-is-active {
  border-color: #7fa9ce;
  color: #7fa9ce;
}
.wds-button.wds-is-nk-color.wds-is-text {
  color: #4077a7;
}
.wds-button.wds-is-nk-color.wds-is-text:focus:not(:disabled), .wds-button.wds-is-nk-color.wds-is-text:hover:not(:disabled), .wds-button.wds-is-nk-color.wds-is-text:active, .wds-button.wds-is-nk-color.wds-is-text.wds-is-active {
  color: #7fa9ce;
}
.wds-button.wds-is-odnoklassniki-color {
  color: #fff;
  background: none;
}
.wds-button.wds-is-odnoklassniki-color:not(.wds-is-text):not(.wds-is-secondary) {
  background-color: #f96900;
}
.wds-button.wds-is-odnoklassniki-color:not(.wds-is-text):not(.wds-is-secondary):focus:not(:disabled), .wds-button.wds-is-odnoklassniki-color:not(.wds-is-text):not(.wds-is-secondary):hover:not(:disabled), .wds-button.wds-is-odnoklassniki-color:not(.wds-is-text):not(.wds-is-secondary):active, .wds-button.wds-is-odnoklassniki-color:not(.wds-is-text):not(.wds-is-secondary).wds-is-active {
  background-color: #933e00;
  border-color: #933e00;
}
.wds-button.wds-is-odnoklassniki-color:not(.wds-is-text) {
  border-color: #f96900;
}
.wds-button.wds-is-odnoklassniki-color.wds-is-secondary {
  border-color: #f96900;
  color: #f96900;
}
.wds-button.wds-is-odnoklassniki-color.wds-is-secondary:focus:not(:disabled), .wds-button.wds-is-odnoklassniki-color.wds-is-secondary:hover:not(:disabled), .wds-button.wds-is-odnoklassniki-color.wds-is-secondary:active, .wds-button.wds-is-odnoklassniki-color.wds-is-secondary.wds-is-active {
  border-color: #933e00;
  color: #933e00;
}
.wds-button.wds-is-odnoklassniki-color.wds-is-text {
  color: #f96900;
}
.wds-button.wds-is-odnoklassniki-color.wds-is-text:focus:not(:disabled), .wds-button.wds-is-odnoklassniki-color.wds-is-text:hover:not(:disabled), .wds-button.wds-is-odnoklassniki-color.wds-is-text:active, .wds-button.wds-is-odnoklassniki-color.wds-is-text.wds-is-active {
  color: #933e00;
}
.wds-button.wds-is-reddit-color {
  color: #fff;
  background: none;
}
.wds-button.wds-is-reddit-color:not(.wds-is-text):not(.wds-is-secondary) {
  background-color: #ff4500;
}
.wds-button.wds-is-reddit-color:not(.wds-is-text):not(.wds-is-secondary):focus:not(:disabled), .wds-button.wds-is-reddit-color:not(.wds-is-text):not(.wds-is-secondary):hover:not(:disabled), .wds-button.wds-is-reddit-color:not(.wds-is-text):not(.wds-is-secondary):active, .wds-button.wds-is-reddit-color:not(.wds-is-text):not(.wds-is-secondary).wds-is-active {
  background-color: #992900;
  border-color: #992900;
}
.wds-button.wds-is-reddit-color:not(.wds-is-text) {
  border-color: #ff4500;
}
.wds-button.wds-is-reddit-color.wds-is-secondary {
  border-color: #ff4500;
  color: #ff4500;
}
.wds-button.wds-is-reddit-color.wds-is-secondary:focus:not(:disabled), .wds-button.wds-is-reddit-color.wds-is-secondary:hover:not(:disabled), .wds-button.wds-is-reddit-color.wds-is-secondary:active, .wds-button.wds-is-reddit-color.wds-is-secondary.wds-is-active {
  border-color: #992900;
  color: #992900;
}
.wds-button.wds-is-reddit-color.wds-is-text {
  color: #ff4500;
}
.wds-button.wds-is-reddit-color.wds-is-text:focus:not(:disabled), .wds-button.wds-is-reddit-color.wds-is-text:hover:not(:disabled), .wds-button.wds-is-reddit-color.wds-is-text:active, .wds-button.wds-is-reddit-color.wds-is-text.wds-is-active {
  color: #992900;
}
.wds-button.wds-is-tumblr-color {
  color: #fff;
  background: none;
}
.wds-button.wds-is-tumblr-color:not(.wds-is-text):not(.wds-is-secondary) {
  background-color: #34465d;
}
.wds-button.wds-is-tumblr-color:not(.wds-is-text):not(.wds-is-secondary):focus:not(:disabled), .wds-button.wds-is-tumblr-color:not(.wds-is-text):not(.wds-is-secondary):hover:not(:disabled), .wds-button.wds-is-tumblr-color:not(.wds-is-text):not(.wds-is-secondary):active, .wds-button.wds-is-tumblr-color:not(.wds-is-text):not(.wds-is-secondary).wds-is-active {
  background-color: #59779e;
  border-color: #59779e;
}
.wds-button.wds-is-tumblr-color:not(.wds-is-text) {
  border-color: #34465d;
}
.wds-button.wds-is-tumblr-color.wds-is-secondary {
  border-color: #34465d;
  color: #34465d;
}
.wds-button.wds-is-tumblr-color.wds-is-secondary:focus:not(:disabled), .wds-button.wds-is-tumblr-color.wds-is-secondary:hover:not(:disabled), .wds-button.wds-is-tumblr-color.wds-is-secondary:active, .wds-button.wds-is-tumblr-color.wds-is-secondary.wds-is-active {
  border-color: #59779e;
  color: #59779e;
}
.wds-button.wds-is-tumblr-color.wds-is-text {
  color: #34465d;
}
.wds-button.wds-is-tumblr-color.wds-is-text:focus:not(:disabled), .wds-button.wds-is-tumblr-color.wds-is-text:hover:not(:disabled), .wds-button.wds-is-tumblr-color.wds-is-text:active, .wds-button.wds-is-tumblr-color.wds-is-text.wds-is-active {
  color: #59779e;
}
.wds-button.wds-is-twitter-color {
  color: #fff;
  background: none;
}
.wds-button.wds-is-twitter-color:not(.wds-is-text):not(.wds-is-secondary) {
  background-color: #1da1f2;
}
.wds-button.wds-is-twitter-color:not(.wds-is-text):not(.wds-is-secondary):focus:not(:disabled), .wds-button.wds-is-twitter-color:not(.wds-is-text):not(.wds-is-secondary):hover:not(:disabled), .wds-button.wds-is-twitter-color:not(.wds-is-text):not(.wds-is-secondary):active, .wds-button.wds-is-twitter-color:not(.wds-is-text):not(.wds-is-secondary).wds-is-active {
  background-color: #0967a0;
  border-color: #0967a0;
}
.wds-button.wds-is-twitter-color:not(.wds-is-text) {
  border-color: #1da1f2;
}
.wds-button.wds-is-twitter-color.wds-is-secondary {
  border-color: #1da1f2;
  color: #1da1f2;
}
.wds-button.wds-is-twitter-color.wds-is-secondary:focus:not(:disabled), .wds-button.wds-is-twitter-color.wds-is-secondary:hover:not(:disabled), .wds-button.wds-is-twitter-color.wds-is-secondary:active, .wds-button.wds-is-twitter-color.wds-is-secondary.wds-is-active {
  border-color: #0967a0;
  color: #0967a0;
}
.wds-button.wds-is-twitter-color.wds-is-text {
  color: #1da1f2;
}
.wds-button.wds-is-twitter-color.wds-is-text:focus:not(:disabled), .wds-button.wds-is-twitter-color.wds-is-text:hover:not(:disabled), .wds-button.wds-is-twitter-color.wds-is-text:active, .wds-button.wds-is-twitter-color.wds-is-text.wds-is-active {
  color: #0967a0;
}
.wds-button.wds-is-vkontakte-color {
  color: #fff;
  background: none;
}
.wds-button.wds-is-vkontakte-color:not(.wds-is-text):not(.wds-is-secondary) {
  background-color: #587ca3;
}
.wds-button.wds-is-vkontakte-color:not(.wds-is-text):not(.wds-is-secondary):focus:not(:disabled), .wds-button.wds-is-vkontakte-color:not(.wds-is-text):not(.wds-is-secondary):hover:not(:disabled), .wds-button.wds-is-vkontakte-color:not(.wds-is-text):not(.wds-is-secondary):active, .wds-button.wds-is-vkontakte-color:not(.wds-is-text):not(.wds-is-secondary).wds-is-active {
  background-color: #99b0c8;
  border-color: #99b0c8;
}
.wds-button.wds-is-vkontakte-color:not(.wds-is-text) {
  border-color: #587ca3;
}
.wds-button.wds-is-vkontakte-color.wds-is-secondary {
  border-color: #587ca3;
  color: #587ca3;
}
.wds-button.wds-is-vkontakte-color.wds-is-secondary:focus:not(:disabled), .wds-button.wds-is-vkontakte-color.wds-is-secondary:hover:not(:disabled), .wds-button.wds-is-vkontakte-color.wds-is-secondary:active, .wds-button.wds-is-vkontakte-color.wds-is-secondary.wds-is-active {
  border-color: #99b0c8;
  color: #99b0c8;
}
.wds-button.wds-is-vkontakte-color.wds-is-text {
  color: #587ca3;
}
.wds-button.wds-is-vkontakte-color.wds-is-text:focus:not(:disabled), .wds-button.wds-is-vkontakte-color.wds-is-text:hover:not(:disabled), .wds-button.wds-is-vkontakte-color.wds-is-text:active, .wds-button.wds-is-vkontakte-color.wds-is-text.wds-is-active {
  color: #99b0c8;
}
.wds-button.wds-is-wykop-color {
  color: #fff;
  background: none;
}
.wds-button.wds-is-wykop-color:not(.wds-is-text):not(.wds-is-secondary) {
  background-color: #fb803f;
}
.wds-button.wds-is-wykop-color:not(.wds-is-text):not(.wds-is-secondary):focus:not(:disabled), .wds-button.wds-is-wykop-color:not(.wds-is-text):not(.wds-is-secondary):hover:not(:disabled), .wds-button.wds-is-wykop-color:not(.wds-is-text):not(.wds-is-secondary):active, .wds-button.wds-is-wykop-color:not(.wds-is-text):not(.wds-is-secondary).wds-is-active {
  background-color: #d04b04;
  border-color: #d04b04;
}
.wds-button.wds-is-wykop-color:not(.wds-is-text) {
  border-color: #fb803f;
}
.wds-button.wds-is-wykop-color.wds-is-secondary {
  border-color: #fb803f;
  color: #fb803f;
}
.wds-button.wds-is-wykop-color.wds-is-secondary:focus:not(:disabled), .wds-button.wds-is-wykop-color.wds-is-secondary:hover:not(:disabled), .wds-button.wds-is-wykop-color.wds-is-secondary:active, .wds-button.wds-is-wykop-color.wds-is-secondary.wds-is-active {
  border-color: #d04b04;
  color: #d04b04;
}
.wds-button.wds-is-wykop-color.wds-is-text {
  color: #fb803f;
}
.wds-button.wds-is-wykop-color.wds-is-text:focus:not(:disabled), .wds-button.wds-is-wykop-color.wds-is-text:hover:not(:disabled), .wds-button.wds-is-wykop-color.wds-is-text:active, .wds-button.wds-is-wykop-color.wds-is-text.wds-is-active {
  color: #d04b04;
}
.wds-button.wds-is-weibo-color {
  color: #fff;
  background: none;
}
.wds-button.wds-is-weibo-color:not(.wds-is-text):not(.wds-is-secondary) {
  background-color: #ff8140;
}
.wds-button.wds-is-weibo-color:not(.wds-is-text):not(.wds-is-secondary):focus:not(:disabled), .wds-button.wds-is-weibo-color:not(.wds-is-text):not(.wds-is-secondary):hover:not(:disabled), .wds-button.wds-is-weibo-color:not(.wds-is-text):not(.wds-is-secondary):active, .wds-button.wds-is-weibo-color:not(.wds-is-text):not(.wds-is-secondary).wds-is-active {
  background-color: #d94a00;
  border-color: #d94a00;
}
.wds-button.wds-is-weibo-color:not(.wds-is-text) {
  border-color: #ff8140;
}
.wds-button.wds-is-weibo-color.wds-is-secondary {
  border-color: #ff8140;
  color: #ff8140;
}
.wds-button.wds-is-weibo-color.wds-is-secondary:focus:not(:disabled), .wds-button.wds-is-weibo-color.wds-is-secondary:hover:not(:disabled), .wds-button.wds-is-weibo-color.wds-is-secondary:active, .wds-button.wds-is-weibo-color.wds-is-secondary.wds-is-active {
  border-color: #d94a00;
  color: #d94a00;
}
.wds-button.wds-is-weibo-color.wds-is-text {
  color: #ff8140;
}
.wds-button.wds-is-weibo-color.wds-is-text:focus:not(:disabled), .wds-button.wds-is-weibo-color.wds-is-text:hover:not(:disabled), .wds-button.wds-is-weibo-color.wds-is-text:active, .wds-button.wds-is-weibo-color.wds-is-text.wds-is-active {
  color: #d94a00;
}
.wds-button.wds-is-youtube-color {
  color: #fff;
  background: none;
}
.wds-button.wds-is-youtube-color:not(.wds-is-text):not(.wds-is-secondary) {
  background-color: #cd201f;
}
.wds-button.wds-is-youtube-color:not(.wds-is-text):not(.wds-is-secondary):focus:not(:disabled), .wds-button.wds-is-youtube-color:not(.wds-is-text):not(.wds-is-secondary):hover:not(:disabled), .wds-button.wds-is-youtube-color:not(.wds-is-text):not(.wds-is-secondary):active, .wds-button.wds-is-youtube-color:not(.wds-is-text):not(.wds-is-secondary).wds-is-active {
  background-color: #e86a6a;
  border-color: #e86a6a;
}
.wds-button.wds-is-youtube-color:not(.wds-is-text) {
  border-color: #cd201f;
}
.wds-button.wds-is-youtube-color.wds-is-secondary {
  border-color: #cd201f;
  color: #cd201f;
}
.wds-button.wds-is-youtube-color.wds-is-secondary:focus:not(:disabled), .wds-button.wds-is-youtube-color.wds-is-secondary:hover:not(:disabled), .wds-button.wds-is-youtube-color.wds-is-secondary:active, .wds-button.wds-is-youtube-color.wds-is-secondary.wds-is-active {
  border-color: #e86a6a;
  color: #e86a6a;
}
.wds-button.wds-is-youtube-color.wds-is-text {
  color: #cd201f;
}
.wds-button.wds-is-youtube-color.wds-is-text:focus:not(:disabled), .wds-button.wds-is-youtube-color.wds-is-text:hover:not(:disabled), .wds-button.wds-is-youtube-color.wds-is-text:active, .wds-button.wds-is-youtube-color.wds-is-text.wds-is-active {
  color: #e86a6a;
}

.wds-button.wds-is-fullwidth {
  box-sizing: border-box;
  width: 100%;
}/**
* Implemenation taken from http://www.antimath.info/css/sass-sqrt-function/
*/
/**
* Implementation taken from http://alienryderflex.com/hsp.html
*/
/**
* Implemenation taken from http://www.antimath.info/css/sass-sqrt-function/
*/
/**
* Implementation taken from http://alienryderflex.com/hsp.html
*/
.wds-avatar {
  display: inline-block;
  position: relative;
}
.wds-avatar a {
  height: 100%;
  width: 100%;
}

.wds-avatar__image {
  height: 100%;
  min-width: 100%;
  width: 100%;
  display: inline-block;
  border-radius: 50%;
  box-sizing: border-box;
}

.wds-avatar__badge {
  line-height: 0;
  position: absolute;
}
.wds-avatar__badge svg {
  height: 100%;
  min-width: 100%;
  width: 100%;
}

.wds-avatar {
  height: 48px;
  min-width: 48px;
  width: 48px;
}
.wds-avatar a {
  color: #bed1cf;
}
.wds-avatar a:hover {
  color: #bed1cf;
}
.wds-avatar .wds-avatar__image {
  background-color: #fff;
  fill: #bed1cf;
}
.wds-avatar .wds-avatar__image:hover {
  fill: #bed1cf;
}
.wds-avatar img.wds-avatar__image {
  border: solid 3px #bed1cf;
}
.wds-avatar img.wds-avatar__image:hover {
  border-color: #bed1cf;
}
.wds-avatar .wds-avatar__badge {
  height: 20.1872px;
  min-width: 20.1872px;
  width: 20.1872px;
  left: -4.4860444444px;
  top: -5.7677714286px;
}/**
* Implemenation taken from http://www.antimath.info/css/sass-sqrt-function/
*/
/**
* Implementation taken from http://alienryderflex.com/hsp.html
*/
/**
* Implemenation taken from http://www.antimath.info/css/sass-sqrt-function/
*/
/**
* Implementation taken from http://alienryderflex.com/hsp.html
*/
.wds-icon {
  fill: currentColor;
  height: 24px;
  min-width: 24px;
  width: 24px;
}
.wds-icon-small {
  height: 18px;
  min-width: 18px;
  width: 18px;
}
.wds-icon-tiny {
  height: 12px;
  min-width: 12px;
  width: 12px;
}