/**
* Implemenation taken from http://www.antimath.info/css/sass-sqrt-function/
*/
/**
* Implementation taken from http://alienryderflex.com/hsp.html
*/
/**
* Implemenation taken from http://www.antimath.info/css/sass-sqrt-function/
*/
/**
* Implementation taken from http://alienryderflex.com/hsp.html
*/
/**
* Implemenation taken from http://www.antimath.info/css/sass-sqrt-function/
*/
/**
* Implementation taken from http://alienryderflex.com/hsp.html
*/
/**
* Implemenation taken from http://www.antimath.info/css/sass-sqrt-function/
*/
/**
* Implementation taken from http://alienryderflex.com/hsp.html
*/
/**
* Implemenation taken from http://www.antimath.info/css/sass-sqrt-function/
*/
/**
* Implementation taken from http://alienryderflex.com/hsp.html
*/
.wds-list {
  list-style-type: none;
  margin: 0;
  padding: 7px 18px;
}
.wds-list > li {
  font-size: 14px;
  font-weight: normal;
  line-height: 1em;
  padding: 11px 0;
}
.wds-list.wds-has-big-items {
  padding-bottom: 2px;
  padding-top: 2px;
}
.wds-list.wds-has-big-items > li {
  font-size: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
}
.wds-list.wds-has-bolded-items > li {
  font-weight: bold;
}
.wds-list.wds-has-lines-between > li {
  border-bottom: solid 1px #bed1cf;
}
.wds-list.wds-has-lines-between > li:last-child {
  border: 0;
}
.wds-list.wds-has-ellipsis > li, .wds-list.wds-has-ellipsis.wds-is-linked > li > a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wds-list.wds-is-linked > li {
  padding: 0;
}
.wds-list.wds-is-linked > li > a {
  display: block;
  padding: 11px 0;
}