.fandom-video-play-icon:hover .fandom-video-play-icon__circle {
  opacity: 1;
}
.fandom-video-play-icon__circle {
  transition: opacity 200ms ease-in-out;
}
.fandom-video-play-icon__triangle {
  fill: #00d6d6;
}