// import variables
@import "~design-system/dist/scss/wds-functions/index.scss";
@import "~design-system/dist/scss/wds-mixins/index.scss";
@import "~design-system/dist/scss/wds-variables/index.scss";

// import wds-button
@import "~design-system/dist/scss/wds-components/_banner-notification.scss";

.wds-banner-notification__close {
	fill: currentColor;
	height: 12px;
	width: 12px;
}

.wds-banner-notification__icon-mark {
	fill: currentColor;
	height: 18px;
	width: 18px;
}
