@import "~design-system/dist/scss/wds-variables/index.scss";

.wds-fieldset {
	background-color: $wds-color-white;
	border: 0;
	display: flex;
	flex-direction: column;
	margin-bottom: 6px;
	padding: 16px 0;
}
