{
    "presets": [
        "@babel/preset-react",
        ["@babel/preset-env", {"targets": {"node": "current"}, "modules": false}]
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-export-default-from"
    ],
    "env": {
        "test": {
            "plugins": [
                "@babel/plugin-syntax-dynamic-import",
                "@babel/plugin-proposal-object-rest-spread",
                "@babel/plugin-proposal-class-properties",
                "@babel/plugin-proposal-export-default-from"
            ],
            "presets": [
                "@babel/preset-react",
                ["@babel/preset-env", {"targets": {"node": "current"}}]
            ]
        }
    }
}
