@import "~design-system/dist/scss/wds-variables/index.scss";

.wds-checkbox {
	display: inline-flex;

	&__input {
		display: none;
	}

	&__label {
		cursor: pointer;
		display: inline-flex;
	}

	&__icon {
		margin-right: 13px;
	}

	&__input[disabled] + .wds-checkbox__label {
		color: $wds-fandom-color-middle-gray;
		position: relative;

		.wds-lock__icon {
			left: 0;
			position: absolute;
			right: 0;
		}
	}
}
