.expandable-text__expand {
  /* unstyle button */
  background: none;
  border: 0;
  cursor: pointer;
  display: inline;
  font: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
.expandable-text__expand:active {
  outline: 0;
}