.switch-item {
  background-color: transparent;
  border: 0;
  border-radius: 18px;
  color: #0e191a;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
  font-weight: 700;
  height: 24px;
  letter-spacing: 0.5px;
  padding: 0 15px;
  text-transform: uppercase;
}
.switch-item:focus {
  outline: none;
}
.switch-item__active {
  background-color: #fff;
}